/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/uploads/banners/
public/uploads/events/
public/uploads/investments/
public/uploads/leaders/
public/uploads/media/
public/uploads/pages/
public/uploads/posts/
public/uploads/sections/